<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="widgets">
  <div ng-controller="PhotoCtrl" class="container">
    <div class="row">
      <select ng-model="filterSelect">
        <option value></option>
        <option ng-repeat="filter in filters()">{{ filter }}</option>
      </select>

      <select ng-model="hashTagSelect" multiple>
        <option value></option>
        <option ng-repeat="tag in hashTags()">{{ tag }}</option>
      </select><br>
      <span>{{hashTagSelect}}</span>
    </div>
    <div class="row">
      <div ng-repeat="image in rawFeed | filter : filterSelect | inCollection:hashTagSelect">
        <photo-info info="image"></photo-info>
      </div>
    </div>
  </div>

  <script src="photo.js"></script>
  <script src="app.js"></script>
  <script src="directive.js"></script>
</body>
</html>
